.upload-popup {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 10;
    background-color: #fff;
    .popup-header {
        border-radius: 3px 3px 0 0;
        border: solid #333;
        padding: 10px 15px;
        font-size: 14px;
        color: #eee;
        background: #333;
        border-bottom: 0;
        display: flex;
        align-items: center;
        .header-text {
            flex-grow: 1;
        }
        i {
            margin: 0 0 0 15px;
            &:hover {
                cursor: pointer;
            }
        }
        .fa-angle-down {
            transition: transform 1s;
        }
    }
    .popup-content {
        border: solid #333;
        max-height: 380px;
        transition: max-height 1s;
        overflow: scroll;
        overflow-x: hidden;

    }
    &.collapsed {
        .popup-content {
            max-height: 0px;
        }

        .fa-angle-down {
            transform: rotate(180deg);
        }
    }
}
