
    <div *ngIf="progressInfos && progressInfos.length && On">
        <div class="upload-popup" [ngClass]="{'collapsed':isCollapsed}">
            <div class="popup-header">
                <div class="header-text">
                    Uploading {{progressInfos?.length}} items.
                </div>
                <i class="fas fa-angle-down" (click)="isCollapsed=!isCollapsed"></i>
                <i class="fas fa-times" (click)="cancelAll()"></i>
            </div>
            <div class="popup-content">
                <div *ngFor="let progressInfo of progressInfos; let i = index">
                    <app-uploads-progressbar [progressInfo]="progressInfo" [idx]="i"></app-uploads-progressbar>
                </div>
            </div>
        </div>
    </div>
